{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}

{% block body %}
    <h1>Liste de tous les acteurs/actrices : </h1>
    {% for actor in actors %}
        <div>
            <h2>{{ actor.name }}</h2>
            <a href="{{ path("actor_show", { id: actor.id}) }}">Voir les séries associées</a>
        </div>
    {% else %}
        Aucun acteur/actrice trouvé
    {% endfor %}

    <a href="{{ path('app_index') }}">
        Retour à l'accueil
    </a>
{% endblock %}